.mt-1em {
	margin-top: 1em; 
}

ul.product-list {
	list-style-type: circle;
}

ul.searchResults {
	list-style-type: none;
}

.box-container {
	position: relative;
}

.searchResults {
  position: absolute;
  left: 34%;
  top: 33px;
}


body::-webkit-scrollbar { 
    display: none; 
}

body::-moz-scrollbar {display:none;}
body::-google-ms-scrollbar {display:none;}

@media (min-width: 1200px){
	.container {
	    width: 1336px;
	}
}